In [1]:
1+1

2

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

rangeの最後の数字は含まない

In [5]:
name='nishio'

In [6]:
len(name)

6

In [7]:
name.upper()

'NISHIO'

In [8]:
len([0,1,2,3,4])

5

name='nishio'

len(name)とname.upper()に統一感がない

len()ははかのことにも使える
len([0,1,2,3,4])

upper

In [9]:
name.len()

AttributeError: 'str' object has no attribute 'len'

In [10]:
len(name)

6

In [11]:
address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [12]:
address.split('o')

['T', 'ky', ',Japan']

In [13]:
address.index('T')

0

In [14]:
address.index('p')

8

In [16]:
address.index('o')

1

index(文字)は左から数えて何番目か
0から始める

In [17]:
address.upper()

'TOKYO,JAPAN'

upper()は大文字にしてくれる

In [18]:
address.lower()

'tokyo,japan'

In [19]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

日付は何日後の計算　1/1から1/5なら4日間

In [20]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 1)
result = date_b - date_a
print(result)

366 days, 0:00:00

In [22]:
date_a.year

2008

In [23]:
name.upper()

'NISHIO'

メゾットと属性

name.upper()
括弧あり:何らかの処理をする
↑メゾット

date_a.year
括弧なし:データにアクセスするだけ
↑属性

In [24]:
date_a.month

1

In [25]:
date_a.day

1

In [26]:
date.today()

datetime.date(2017, 5, 17)

In [40]:
birthday=date(1995,7,17)

In [41]:
today=date.today()

In [42]:
result=today-birthday

In [43]:
print(result)

7975 days, 0:00:00

In [44]:
today.weekday()

2

weekday()は月曜から数えて0.1.2となる

In [45]:
date_a

datetime.date(2008, 1, 1)

In [46]:
date_a.weekday()

1

|date|
|:-|
|year|
|month|
|day|
|:-|
|weekday|

In [ ]:
date_c=date(2005,5,5)