In [1]:
1+1

2

In [2]:
a=[1,2,3,4,5]

In [3]:
合計/データ数

NameError: name '合計' is not defined

In [4]:
合計＝順番に足した結果

SyntaxError: invalid character in identifier (<ipython-input-4-960e916dc94b>, line 1)

In [5]:
s=0

s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [9]:
a=[1,2,3,4,5]

for p in a:
    print(p)

1
2
3
4
5

リストaの各要素をpと呼び　pをprintする

In [10]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [11]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for yabuki in list_tohoku:
    print(yabuki)

5349
5478
5344
4644
4968
6259

In [12]:
a

[1, 2, 3, 4, 5]

In [13]:
s=0

for x in a:
    s=s+x
    
s

15

In [14]:
a

[1, 2, 3, 4, 5]

In [15]:
s=0

for x in a:
    s=s+x
    
s/5

3.0

In [16]:
s=0

for x in a:
    s=s+x
    
s/len(a)

3.0

In [17]:
avg_tohoku = 0.0

for val in list_tohoku:
    avg_tohoku += val
    
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

In [18]:
s=0

for x in a:
    s+=x
    
s/len(a)#s/len(a)のこと

3.0

In [19]:
list_shikoku = [3148, 2991, 2966, 2457]

In [20]:
(3148+2991+2966+2457)/4

2890.5

In [22]:
s=0.0
for val in list_tohoku:
    s+=val
s/=len(list_tohoku)

print(s)

5340.333333333333

In [23]:
(3148+2991+2966+2457)/4

2890.5

In [24]:
list_shikoku = [3148, 2991, 2966, 2457]

s=0
for x in list_shikoku:
    s+=x

s/len(list_shikoku)

2890.5

In [27]:
from statistics import *

In [28]:
mean(list_shikoku)

2890.5

In [29]:
mean([1,2,3,4,5])

3

In [30]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [31]:
dic={'A':100, 'B':20, 'c':3000}

In [32]:
dic['A']

100

In [33]:
for key in dic:
    print(key)

A
B
c

In [34]:
dic={'A':100, 'B':20, 'c':3000}

In [35]:
dic['A']

100

In [36]:
for x in dic:
    print(x)

A
B
c

In [38]:
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [40]:
for key in dict_tohoku:
    print(key)
    print(dict_tohoku[key])

aomori
5349
akita
4644
sendai
5344
Yamagata
4968
fukushima
6259
morioka
5478

In [41]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [46]:
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s +=dict_tohoku[x]
s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

1.[5,4,3,2]の平均
2.{'A':10, 'B':100, 'C':1000}の値の平均
3.{10:'A',100:'B',10000:'C']のキーの平均

In [48]:
a=[5,4,3,2]
s=0

for x in a:
    s+=x
    
s/len(a)

3.5

In [49]:
mean(a)

3.5

In [51]:
a={'A':10, 'B':100, 'C':1000}
s=0

for x in a:
    s+=a[x]
    
s/len(a)

370.0

In [52]:
a.values()

dict_values([10, 100, 1000])

In [53]:
s=0

for x in a.values():
    s+=x
    
s/len(a)

370.0

↑99の答え

In [54]:
a={10:'A',100:'B',10000:'C']
   
s=0
   
for x in a:
   s+=x
   
s/len(a)

SyntaxError: invalid syntax (<ipython-input-54-c1efbf8a98c7>, line 1)

↑途中で消されたからわからん...